<footer class="footer">
    <br><br><br><br>
    <div class="container text-center">
        <p>Sitio creado por Juan Álvarez - Prueba SkatePark</p>
        <p>
            <a class="rrssLinks" href="https://github.com/ja-alvarez" target="_blank">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a class="rrssLinks" href="https://www.linkedin.com/in/j-andresalvarez/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </p>
    </div>
</footer>