<nav class="navbar navbar-expand-lg custom-navbar px-3">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand custom-brand text-center d-flex align-items-center" href="/">
                <h1>Stake Park</h1>
            </a>
            <h5><span id="brand"></span></h5>
        </div>

        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-5 ms-auto">
                <li id="homeLink" class="nav-item mx-3">
                    <a class="nav-link custom-link {{#if homeView}}active{{/if}}" aria-current="page" href="/">Home</a>
                </li>
                <li id="perfilLink" class="nav-item mx-3" style="display: none;">
                    <a id="perfil" class="nav-link custom-link {{#if perfilView}}active{{/if}}"
                        href="/perfil">Perfil</a>
                </li>
                <li id="registroLink" class="nav-item mx-3">
                    <a class="nav-link custom-link {{#if registroView}}active{{/if}}" href="/registro">Registro</a>
                </li>
                <li id="loginLink" class="nav-item mx-3">
                    <a class="nav-link custom-link {{#if loginView}}active{{/if}}" href="/login">Login</a>
                </li>
                </li>
                <li id="administracionLinks" class="nav-item mx-3" style="display: none;">
                    <a id="adminUsuarios" class="nav-link custom-link {{#if adminView}}active{{/if}}"
                        href="/administracion">Administración</a>
                </li>
                <li id="logoutLink" class="nav-item mx-3" style="display: none;">
                    <a id="logout" class="nav-link custom-link" href="">Logout</a>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>

<script src="/js/navbar.js"></script>

<style>
    .active {
        font-weight: bolder;
        color: white !important;
    }
</style>