<header class="py-3">
    <h2 class="text-center">Página no encontrada</h2>
</header>

<main class="container">
    <section>
        <p class="text-center">{{message}}</p>
        <img class="d-block mx-auto" src="/img/gatoNegro.avif" alt="gato negro" width="35%">
    </section>
</main>

<script src="/js/404.js"></script>
